<div class='pavo-content'>
  <% @categories.each do |category| %>
      <% category.sections.each do |section| %>
        <div class='pavo-section-content'>
          <h1 id="<%= section.id %>" class='pavo-section-title'><%= section.title %></h1>
          <%= styleguide_content section.content %>
        </div>
      <% end %>
  <% end %>
</div>
