<div class='pavo-sidebar'>
  <% @categories.each do |category| %>
    <div class='pavo-section'>
      <h5><%= category.title %></h5>
      <ul>
        <% category.sections.each do |section| %>
          <li><%= link_to section.title, "#{section.href}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
