<div class='styleguide-sidebar'>
  <% @categories.each do |category| %>
    <div class='styleguide-category'>
      <h5 class='styleguide-category-title'><%= category.title %></h5>
      <ul class='styleguide-category-sections'>
        <% category.sections.each do |section| %>
          <li><%= link_to section.title, "#{section.href}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
