<div id="styleguide-header">Styleguide</div>

<div class="styleguide-wrapper">
  <div id="styleguide-sidebar">
    <div class="styleguide-category">
      <h4>Components</h4>
    </div>
  </div>
  <div id="styleguide-content"></div>
</div>
