@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@mixin ClearFix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

@mixin BoxSizing{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin StyleguideFont{ font-family: "Open Sans", sans-serif }

#pavo-styleguide{
  margin: 0;
  padding: 0;

  // sidebar
  .pavo-sidebar{
    @include StyleguideFont;
    top: 0;
    left: 0;
    position: fixed;
    width: 20%;
    height: 100vh;
    background: #f1f3f6;

    .pavo-section{
      display: block;
      padding: 30px 30px 0 30px;
    }

    h5{
      margin: 0 0 5px 0;
      color: #2e2f31;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }

    ul{
      margin: 0;
      padding: 0;
    }

    ul li{
      display: block;
      margin: 0 0 5px 0;
    }

    ul li a{
      color: #595b5d;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .pavo-content{
    font-size: 16px;
    padding-left: 20%;
    line-height: 30px;

    h1,h2,h3,h4,h5,h6,p{ @include StyleguideFont }

    h1{
      font-size: 32px;
      font-weight: 300;
    }

    .styleguide-example-wrapper{
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid #dadde2;
      box-shadow: 0 1px 3px rgba(26,53,71,.08);

      pre{ margin: 0 0 0 0; line-height: 1; font-size: 13px }
      pre code{ padding: 5px 20px 10px 20px }

      .styleguide-example{
        padding: 15px 15px 15px 15px;
        border-bottom: 1px solid #dadde2
      }
    }

    .styleguide-colour{
      width: 240px;
      .styleguide-colour-palette{ height: 100px; width: 100% }
    }

  }

  .pavo-section-content{
    padding: 50px;
  }


}
