@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@mixin ClearFix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

@mixin BoxSizing{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin StyleguideFont{ font-family: "Open Sans", sans-serif }
@mixin StyleguideHeaderFont{ font-family: "Montserrat", sans-serif }

#styleguide{
  @include BoxSizing;
  margin: 0 !important;
  padding: 0 0 0 260px !important;

  &::before{
    content:"";
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 150px;
    display: block;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  // sidebar
  .styleguide-sidebar{
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    width: 260px;
    height: 100vh;
    background: #2b2f3e;

    // Category
    .styleguide-category{
      margin: 30px 30px 10px 30px;

      // category title
      .styleguide-category-title{
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include StyleguideHeaderFont;
      }

      // category sections
      .styleguide-category-sections{
        margin: 10px 0 0 0;

        li a{
          margin: 0 0 10px 0;
          display: inline-block;
          color: #a4a7af;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1px;
          text-decoration: none;
          &:hover{ color: #FFFFFF }
          &.current{ color: #FFFFFF }
        }
      }
    }
  }

  // Styleguide Content
  // This is rendered for each section
  .styleguide-content{
    @include ClearFix;
    display: none;
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 50px 0 80px 0;
    border-bottom: 1px solid #f3f3f5;

    &.styleguide-content--visible{ display: block }

    // styleguide colours
    .styleguide-colour{
      @include ClearFix;
      @include BoxSizing;
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 15px 0 15px 0;

      // colour palette block
      .styleguide-colour-palette{
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 15px 0 0;
      }

      // colour info
      .styleguide-colour-info{
        float: left;
        white-space: nowrap;

        // colour title
        .styleguide-colour-title{
          @include StyleguideFont;
          display: block;
          color: #2b2f3e;
          font-size: 13px;
          font-weight: 600;
          margin: 2px 0 5px 0;
        }

        // colour code
        .styleguide-colour-code{
          @include StyleguideFont;
          display: block;
          color: #606770;
          font-size: 12px;
          margin: 0 0 5px 0;
        }

        // colour variabe
        .styleguide-colour-variable{
          @include BoxSizing;
          @include StyleguideFont;
          color: #606770;
          font-size: 11px;
          border-radius: 2px;
          background: #f7f7f7;
          display: inline-block;
          padding: 2px 5px 3px 5px;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }

    // styleguide font
    .styleguide-font{
      @include BoxSizing;
      width: 20%;
      margin: 0 5% 30px 0;
      overflow: hidden;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      .styleguide-font-example{
        font-size: 60px;
        text-align: center;
        padding: 20px 0 20px 0;
      }

      .styleguide-font-name{
        @include StyleguideFont;
        background: #f3f3f5;
        display: block;
        color: #2b2f3e;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 10px 10px 10px;
      }
    }

    // headers
    .styleguide-header-h1,
    .styleguide-header-h2,
    .styleguide-header-h3,
    .styleguide-header-h4,
    .styleguide-header-h5,
    .styleguide-header-h6{
      @include StyleguideFont;
      clear: both
    }

    // Styleguide category title
    .styleguide-header-h2,
    .styleguide-content-title{
      @include StyleguideFont;
      color:#2b2f3e;
      font-size: 34px;
      font-weight: 400;
      margin: 0 0 20px 0;
    }

    // h2
    .styleguide-header-h2{
      color: #2b2f3e;
      font-size: 24px;
      font-weight: 600;
      line-height: 35px;
      margin: 0 0 15px 0;
    }

    // h3
    .styleguide-header-h3{
      color: #606770;
      font-size: 24px;
      font-weight: 300;
      line-height: 35px;
      margin: 0 0 15px 0;
    }

    // h4
    .styleguide-header-h4{
      color: #2b2f3e;
      font-size: 18px;
      font-weight: 600;
      line-height: 35px;
      margin: 0 0 10px 0;
    }

    // p
    .styleguide-paragraph{
      @include StyleguideFont;
      color: #606770;
      font-size: 15px;
      line-height: 25px;
      margin: 0 0 30px 0;
    }

    // list
    .styleguide-list{
      list-style: disc;
      margin: 0 0 30px 15px;
      p{ margin: 0 0 0 0 }
    }

    // code span
    .styleguide-code-span{
      @include BoxSizing;
      font-size: 15px;
      line-height: 25px;
      border-radius: 3px;
      background: #f3f3f5;
      padding: 4px 5px 3px 5px;
    }

    // code block
    .styleguide-code-block{
      @include BoxSizing;
      width: 100%;
      border-radius: 3px;
      margin: 0 0 30px 0;
      overflow-x: scroll;
      background: #f3f3f5;
      padding: 15px 15px 15px 15px;

      *{
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        font-family: Consolas, 'Liberation Mono', Courier, monospace !important;
      }
    }

    .styleguide-html{
      overflow: hidden;
      border-radius: 5px;
      margin: 0 0 30px 0;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      .styleguide-html-preview{
        padding: 15px 15px 15px 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .styleguide-code-block{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin: 0 0 0 0;
      }
    }
  }
}
